h1{
	color: #3385ff;
	font-style: italic;
	font-size: 40px;
	text-align: center;
	border: 2px solid red;
	width: 700px;
	height: 800px;
	margin-left: 600px;
	background: url("https://www.itl.cat/pngfile/big/30-305952_hacking-hd-wallpapers-and-backgrounds-hacker-deep-web.jpg" );
	background-size: 700px 1000px;
	background-repeat: no-repeat;
	margin-top: 80px;
}
body{
background: rgb(255, 179, 153);
}

 #Myself{
	color:blue;
	margin-top: 0px;
	font-size: 17px;

}

